#app {
  height: 100vh;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.list-item {
  width: 300px;
  min-height: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: rgb(32, 32, 32);
  border-width: 0px;
  color: white;
  font-size: 14px;
  margin-bottom: 3px;
}

.list-item:hover {
  background-color: #002ead;
}

.list-item:focus {
  background-color: #002ead;
}

.scroller {
  width: 300px;
  height: 736px;
  overflow-x: hidden;
  overflow-y: auto;
}

.display {
  width: 900px;
  height: 768px;
  overflow-x: clip;
  overflow-y: clip;
}

.synopsis {
  text-align: justify;
  height: 150px;
  overflow-y: scroll;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  text-align: center;
  min-height: 40px;
}

.searchbox {
  width: 95%;
  padding: 5px 3px 3px 3px;
  margin: 3px;
  border-width: 0px;
  border-radius: 5px;
}

.random-button {
  margin: 3px 3px 3px 0px;
  margin-top: 3px;
  padding-top: 5px;
  border-width: 0px;
  border-radius: 5px;
  background-color: white;
}
